body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    height: 64px;
}

#logo {
    margin-left: 15px;
    background-color:white;
   height: inherit;
}

#logo img{
    height: inherit;
}

#category-links {
    margin-right: 15px;
    background-color: #ffffff;
}

#category-links p {
    display: inline-flex;
    margin-left: 20px;
}

footer {
    padding: 15px 0px 0px 80px;
    background-color: #252525;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}

#about-footer {
    display: grid;
    grid-template-rows: 20px 1fr 100px;
    row-gap: 30px;
}

#social-links a {
    margin-right: 10px;
}

#contact {
    display: grid;
    grid-template-rows: 30px 1fr;
}

.footer-text {
    font-size: 24px;
}

.footer-text img{
    height: 50px;
}

#contact-links p {
    line-height: 12px;
}